h1 {
    font-size: 64px;
    line-height: 150%;
    color: #fff;
}

h2 {
    font-size: 40px;
    line-height: 150%;
    color: #fff;
}

h3 {
    font-size: 36px;
    line-height: 150%;
    color: #fff;
}

h4 {
    font-size: 30px;
    line-height: 150%;
    color: #fff;
}

p.large {
    font-size: 24px;
    line-height: 150%;
    color: #fff;
  }

 p.button {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
 }

 p {
    font-size: 18px;
    line-height: 150%;
    color: #fff;
  }

  p.caption {
    font-size: 16px;
    line-height: 150%;
    color: #FBFF48;
    text-transform: uppercase;
  }
a {
    color: #fff;
    text-decoration: none;
}
body {
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    overflow: hidden;
    position: fixed;
    display: flex;
    width: 80%;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 80px;
    top: 0;
    background-color: rgb(0, 0, 0);
}

.navbar a {
    float: light;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar a:hover {
    color: #413EFF;
}

.logo img {
    height: 30px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}


.button {
    background-color: #413EFF;
    color: #fff;
    border-radius: 16px;
    border-style: none;
    text-align: center;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 18px;
    width: 250px;
    margin-top: 24px;
  }
  
.button:hover {
    background-color: #2f2cd8;
    border-color: #2f2cd8;
}

.button-senden {
    background-color: #413EFF;
    color: #fff;
    border-radius: 16px;
    border-style: none;
    text-align: center;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 18px;
    width: 250px;
    margin-top: 64px;
  }
  
.button-senden:hover {
    background-color: #2f2cd8;
    border-color: #2f2cd8;
}

.hero {
    display: flex;
    padding-top: 40%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 120px;
    padding-bottom: 300px;
    background-color: black;
}

.hero-text {
    max-width: 40%;
    color: white;
}

.hero-image {
    max-width: 45%;
}

.hero-image img { 
    width: 100%;
    height: auto;
}

.stat {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.stat-item {
    flex-direction: column;
    width: auto;
    align-items: flex-start;
}

.leistungen-index {
    padding-top: 160px;
}

.leistungen-über-mich {
    padding-top: 20px;
}

.section-titel {
    max-width: 75%;
}

.leistungen-all-cards {
    display: flex;
    flex-wrap:wrap; 
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
}

.leistungen-card {
    max-width: 350px;
    min-width: 250px;
    padding-right: 24px;
}

.leistungen-card-text {
    display: block;
}

.leistungen-image {
    height: auto;
}

.leistungen-image img { 
    width: 100%;
    height: auto;
}

.projekte {
    padding-top: 160px;
}

.projekte-all-cards {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    margin: 12px;
}

.projekte-card {
    max-width: 350px;
    min-width: 250px;
    padding-right: 24px;
}

.leistungen-card-text {
    display: flex;
    justify-content: left;
}

.projekte-image {
    height: auto;
}

.projekte-image img { 
    width: 100%;
    height: auto;
}

.kontakt {
    padding-top: 160px;
}
.kontakt-input-image {
display: flex;
justify-content: space-between;
padding-top: 64px;
}

.kontakt-image {
    max-width: 25%;
}

.kontakt-image img { 
    width: 100%;
    height: auto;
}

.kontakt-input-section {
    display: flexbox;
}

form {
    max-width: 750px;
    min-width: 550px;
}

label {
    display: block;
    margin-top: 32px;
    color: #fff;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 16px;
    background-color: black;
    color: #fff;
}

.kontakt-input {
    align-content: center;
    padding-top: auto;
}