* {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 4rem;
    line-height: 150%;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    h1 {
        font-size: 3.6rem;
    }
}


@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 3.2rem;
    }
}


@media only screen and (max-width: 992px) {
    h1 {
        font-size: 2.8rem;
    }
}


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.4rem;
    }
}


@media only screen and (max-width: 576px) {
    h1 {
        font-size: 2.0rem;
    }
}


h2 {
    font-size: 2.4rem;
    line-height: 150%;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    h2 {
        font-size: 2.3rem;
    }
}


@media only screen and (max-width: 1200px) {
    h2 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 992px) {
    h2 {
        font-size: 2.1rem;
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 2.0rem;
    }
}


@media only screen and (max-width: 576px) {
    h2 {
        font-size: 1.9rem;
    }
}


h3 {
    font-size: 2.2rem;
    line-height: 150%;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    h3 {
        font-size: 2.1rem;
    }
}


@media only screen and (max-width: 1200px) {
    h3 {
        font-size: 2.0rem;
    }
}


@media only screen and (max-width: 992px) {
    h3 {
        font-size: 1.9rem;
    }
}


@media only screen and (max-width: 768px) {
    h3 {
        font-size: 1.8rem;
    }
}


@media only screen and (max-width: 576px) {
    h3 {
        font-size: 1.7rem;
    }
}


h4 {
    font-size: 1.8rem;
    line-height: 150%;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    h4 {
        font-size: 1.7rem;
    }
}


@media only screen and (max-width: 1200px) {
    h4 {
        font-size: 1.6rem;
    }
}


@media only screen and (max-width: 992px) {
    h4 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    h4 {
        font-size: 1.4rem;
    }
}


@media only screen and (max-width: 576px) {
    h4 {
        font-size: 1.3rem;
    }
}


p.large {
    font-size: 1.44rem;
    line-height: 150%;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    p.large {
        font-size: 1.34rem;
    }
}


@media only screen and (max-width: 1200px) {
    p.large {
        font-size: 1.24rem;
    }
}


@media only screen and (max-width: 992px) {
    p.large {
        font-size: 1.14rem;
    }
}


@media only screen and (max-width: 768px) {
    p.large {
        font-size: 1.04rem;
    }
}


@media only screen and (max-width: 576px) {
    p.large {
        font-size: 0.94rem;
    }
}


p.large-bold {
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    p.large-bold {
        font-size: 1.34rem;
    }
}


@media only screen and (max-width: 1200px) {
    p.large-bold {
        font-size: 1.24rem;
    }
}


@media only screen and (max-width: 992px) {
    p.large-bold {
        font-size: 1.14rem;
    }
}


@media only screen and (max-width: 768px) {
    p.large-bold {
        font-size: 1.04rem;
    }
}


@media only screen and (max-width: 576px) {
    p.large-bold {
        font-size: 0.94rem;
    }
}


p.button {
    font-size: 1.08rem;
    font-weight: 500;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    p.button {
        font-size: 1.06rem;
    }
}


@media only screen and (max-width: 1200px) {
    p {
        font-size: 1.04rem;
    }
}


@media only screen and (max-width: 992px) {
    p.button {
        font-size: 1.02rem;
    }
}


@media only screen and (max-width: 768px) {
    p.button {
        font-size: 1.0rem;
    }
}


@media only screen and (max-width: 576px) {
    p.button {
        font-size: 0.98rem;
    }
}


p {
    font-size: 1.08rem;
    line-height: 150%;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    p {
        font-size: 1.06rem;
    }
}


@media only screen and (max-width: 1200px) {
    p {
        font-size: 1.04rem;
    }
}


@media only screen and (max-width: 992px) {
    p {
        font-size: 1.02rem;
    }
}


@media only screen and (max-width: 768px) {
    p {
        font-size: 1.0rem;
    }
}


@media only screen and (max-width: 576px) {
    p {
        font-size: 0.98rem;
    }
}


p.bold {
    font-size: 1.08rem;
    line-height: 150%;
    font-weight: 700;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    p.bold {
        font-size: 1.06rem;
    }
}


@media only screen and (max-width: 1200px) {
    p.bold {
        font-size: 1.04rem;
    }
}


@media only screen and (max-width: 992px) {
    p.bold {
        font-size: 1.02rem;
    }
}


@media only screen and (max-width: 768px) {
    p.bold {
        font-size: 1.0rem;
    }
}


@media only screen and (max-width: 576px) {
    p.bold {
        font-size: 0.98rem;
    }
}


p.light {
    font-size: 1.08rem;
    line-height: 160%;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
}


@media only screen and (max-width: 1600px) {
    p.light {
        font-size: 1.06rem;
    }
}


@media only screen and (max-width: 1200px) {
    p.light {
        font-size: 1.04rem;
    }
}


@media only screen and (max-width: 992px) {
    p.light {
        font-size: 1.02rem;
    }
}


@media only screen and (max-width: 768px) {
    p.light {
        font-size: 1.0rem;
    }
}


@media only screen and (max-width: 576px) {
    p.light {
        font-size: 0.98rem;
    }
}


p.small {
    font-size: 0.9rem;
    line-height: 160%;
    color: #fff;
    letter-spacing: 1px;
}


@media only screen and (max-width: 1600px) {
    p.small {
        font-size: 0.89rem;
    }
}


@media only screen and (max-width: 1200px) {
    p.small {
        font-size: 0.88rem;
    }
}


@media only screen and (max-width: 992px) {
    p.small {
        font-size: 0.87rem;
    }
}


@media only screen and (max-width: 768px) {
    p.small {
        font-size: 0.86rem;
    }
}


@media only screen and (max-width: 576px) {
    p.small {
        font-size: 0.85rem;
    }
}


p.small-light {
    font-size: 0.84rem;
    line-height: 160%;
    font-weight: 100;
    letter-spacing: 1px;
}


@media only screen and (max-width: 1600px) {
    p.small-light {
        font-size: 0.83rem;
    }
}


@media only screen and (max-width: 1200px) {
    p.small-light {
        font-size: 0.82rem;
    }
}


@media only screen and (max-width: 992px) {
    p.small-light {
        font-size: 0.81rem;
    }
}


@media only screen and (max-width: 768px) {
    p.small-light {
        font-size: 0.80rem;
    }
}


@media only screen and (max-width: 576px) {
    p.small-light {
        font-size: 0.79rem;
    }
}


p.caption {
    font-size: 0.96rem;
    line-height: 160%;
    color: #FBFF48;
    text-transform: uppercase;
    letter-spacing: 2px;
}


@media only screen and (max-width: 1600px) {
    p.caption {
        font-size: 0.95rem;
    }
}


@media only screen and (max-width: 1200px) {
    p.caption {
        font-size: 0.94rem;
    }
}


@media only screen and (max-width: 992px) {
    p.caption {
        font-size: 0.93rem;
    }
}


@media only screen and (max-width: 768px) {
    p.caption {
        font-size: 0.92rem;
    }
}


@media only screen and (max-width: 576px) {
    p.caption {
        font-size: 0.91rem;
    }
}


p.quelle {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase;
}


@media only screen and (max-width: 1600px) {
    p.quelle {
        font-size: 1.06rem;
    }
}


@media only screen and (max-width: 1200px) {
    p.quelle {
        font-size: 1.04rem;
    }
}


@media only screen and (max-width: 992px) {
    p.quelle {
        font-size: 1.02rem;
    }
}


@media only screen and (max-width: 768px) {
    p.quelle {
        font-size: 1.0rem;
    }
}


@media only screen and (max-width: 576px) {
    p.quelle {
        font-size: 0.98rem;
    }
}


a {
    color: #fff;
    text-decoration: none;
}


.highlighted {
    color: #413EFF;
}


body {
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1440px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.navigation-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: rgb(0, 0, 0);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding-left: 10%;
    padding-right: 10%;
}


.logo-container img {
    height: 30px;
}


.navigation-items {
    display: flex;
    gap: 40px;
}


.navigation-items a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: .4s ease-in-out;
}


.navigation-items a:hover {
    color: #413EFF;
}


.navigation-items a.active {
    color: #413EFF;
}


.hamburger {
    display: none;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}


@media screen and (max-width:992px) {
    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .hamburger #closeHam {
        display: none;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
        transition: display 0.4s ease-in-out;
    }
}


.button {
    width: 250px;
    padding: 14px 24px;
    margin-top: 24px;
    background-color: #413EFF;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 16px;
    border-style: none;
    text-align: center;
}


@media only screen and (max-width: 1200px) {
    .button {
        width: 220px;
        padding: 14px 24px;
        margin-top: 24px;
        background-color: #413EFF;
        color: #fff;
        font-weight: 500;
        border-radius: 16px;
        border-style: none;
        text-align: center;
    }
}


@media only screen and (max-width: 992px) {
    .button {
        width: 200px;
        padding: 12px 22px;
        margin-top: 24px;
        background-color: #413EFF;
        color: #fff;
        font-weight: 500;
        border-radius: 16px;
        border-style: none;
        text-align: center;
    }
}


@media only screen and (max-width: 576px) {
    .button {
        width: 180px;
        padding: 10px 20px;
        margin-top: 24px;
        background-color: #413EFF;
        color: #fff;
        font-weight: 500;
        border-radius: 16px;
        border-style: none;
        text-align: center;
    }
}


.button:hover {
    background-color: #2f2cd8;
    border-color: #2f2cd8;
}


.button-send {
    width: 250px;
    padding: 14px 24px;
    margin-top: 64px;
    background-color: #413EFF;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 16px;
    border-style: none;
    text-align: center;
}


.button-send:hover {
    background-color: #2f2cd8;
    border-color: #2f2cd8;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 150px;
}


.hero p {
    width: 50%;
}


.hero-text {
    display: grid;
    color: white;
}


.hero-headline-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 80px;
}


.hero-headline-index {
    display: grid;
    width: 50%;
}


.hero-image {
    max-width: 40%;
}


.hero-image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 250px;
}


.hero-headline {
    display: grid;
}


.statement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


@media only screen and (max-width: 992px) {
    .hero {
        display: grid;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 150px;
        margin-top: 150px;
    }


    .hero p {
        width: 100%;
        margin-top: 24px;
    }


    .hero-text {
        display: grid;
        color: white;
        width: 100%;
    }


    .hero-headline-image {
        display: grid;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .hero-headline-index {
        display: grid;
        width: 100%;
    }


    .hero-image {
        max-width: 40%;
    }


    .hero-image img {
        width: 100%;
        height: auto;
        max-width: 500px;
        min-width: 250px;
    }


    .hero-headline {
        display: grid;
    }


    .statement {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}


.stat {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}


@media only screen and (max-width: 1600px) {
    .stat {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        margin-bottom: 90px;
    }
}


@media only screen and (max-width: 1200px) {
    .stat {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}


@media only screen and (max-width: 992px) {
    .stat {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 90px;
    }
}


@media only screen and (max-width: 768px) {
    .stat {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 90px;
        margin-bottom: 90px;
    }
}


@media only screen and (max-width: 576px) {
    .stat {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        margin-bottom: 90px;
    }
}


.stat-item {
    width: 200px;
    margin-bottom: 48px;
}


.stat-item p.caption {
    color: #a1a1a1;
    width: 200px;
    text-align: center;
}

.stat-item h4 {
    width: 200px;
    text-align: center;
}


.kunden {
    display: grid;
    margin-top: 150px;
    margin-bottom: 150px
}


.kunden-logo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 24px;
    gap: 48px;
}


.logo-item img {
    max-width: 140px;
}


.services-index {
    display: grid;
    margin-top: 150px;
    margin-bottom: 150px;

}


.services-about {
    margin-top: 100px;
}


.section-titel {
    display: grid;
    margin-top: 24px;
    gap: 12px;
    margin-bottom: 48px;
}


@media only screen and (max-width: 1600px) {
    .section-titel {
        margin-top: 24px;
        max-width: 60%;
        gap: 12px;
        margin-bottom: 44px;
    }
}


@media only screen and (max-width: 1200px) {
    .section-titel {
        display: grid;
        max-width: 70%;
        gap: 12px;
        margin-bottom: 40px;
    }
}


@media only screen and (max-width: 992px) {
    .section-titel {
        display: grid;
        max-width: 80%;
        gap: 12px;
        margin-bottom: 36px;
        ;
    }
}


@media only screen and (max-width: 768px) {
    .section-titel {
        display: grid;
        max-width: 90%;
        gap: 12px;
        margin-bottom: 32px;
    }
}


@media only screen and (max-width: 576px) {
    .section-titel {
        display: grid;
        max-width: 100%;
        gap: 12px;
        margin-bottom: 28px;
    }
}


.services-all-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    margin: 0;
}


.services-card {
    max-width: 350px;
    min-width: 250px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 0;
}


@media only screen and (max-width: 1600px) {
    .services-cardl {
        max-width: 350px;
    }
}


@media only screen and (max-width: 1200px) {
    .services-card {
        max-width: 340px;
    }
}


@media only screen and (max-width: 992px) {
    .services-card {
        max-width: 280px;
    }
}


@media only screen and (max-width: 768px) {
    .services-card {
        max-width: 200px;

    }
}


@media only screen and (max-width: 576px) {
    .services-card {
        max-width: 100%;
        margin: 0;
        padding: 0;

    }
}


.services-card-text {
    display: block;
    margin-top: 24px;
    margin-bottom: 48px;
    padding-left: 12px;
    padding-right: 12px;
}


.services-card-text p {
    margin: 0;
    margin-right: auto;
}


.services-image {
    height: auto;
    overflow: hidden;
    border-radius: 12px;
}


.services-image img {
    object-fit: cover;
    transition: transform 1s;
    height: 100%;
}


.services-image :hover {
    transform: scale(1.05);
}


.skills {
    display: grid;
    margin-top: 150px;
    margin-bottom: 150px;
}


.skill-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


ul {
    width: 100%;
}


.skill-card {
    display: flex;
    align-items: center;
    min-width: 280px;
    padding-right: 24px;
    padding-bottom: 48px;
    gap: 24px;
}


.skill-card img {
    display: flex;
    width: auto;
    height: 50px;
}


.projects {
    display: grid;
    margin-top: 150px;
    margin-bottom: 150px;
}


.projects-all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}


.projects-card {
    max-width: 350px;
    min-width: 250px;
}


.projects-card-text {
    display: grid;
    gap: 12px;
    margin-top: 24px;
}

.link-icon{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.services-card-text {
    display: flex;
    justify-content: left;
}


.projects-image {
    height: auto;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 24px;
}


.projects-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1s;
    overflow: hidden;
}


.projects-image :hover {
    transform: scale(1.03);
    overflow: hidden;
}


.contact {
    display: grid;
    margin-top: 150px;
    margin-bottom: 150px;
}


.contact-text-section {
    display: flex;
    max-width: 55%;
}


.contact-items-section {
    display: block;
    justify-content: flex-end;
}


.contact-items-section-index {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}


.contact-items {
    display: flex;
    align-items: center;
}


.contact-items img {
    width: 30px;
    height: 30px;
    margin-right: 24px;
}


.contact {
    margin-top: 150px;
    margin-bottom: 150px;
}


.contact-input-image {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}


.contact-image {
    max-width: 25%;
}


.contact-image img {
    width: 100%;
    height: auto;
}


.contact-input-section {
    display: flexbox;
}


form {
    max-width: 750px;
    min-width: 550px;
}


label {
    display: block;
    margin-top: 32px;
    color: #fff;
}


input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 16px;
    background-color: black;
    color: #fff;
}


.contact-input {
    align-content: center;
    padding-top: auto;
}


.career {
    display: grid;
    margin-top: 150px;
    margin-bottom: 150px;
}


.career-description-text {
    width: 100%;
}


.career-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    gap: 48px;
}


.career-card {
    display: block;
    min-width: 200px;
    max-width: 250px;
    padding-right: 48px;
}


.career-card-text {
    display: block;
    padding: 0;
    height: max-content;
}


.career-card-text p.light {
    margin: 0;
    height: 48px;
}


.career-card-text p {
    padding-bottom: 4px;
    margin: 0;
}


.career-year {
    margin-top: 16px;
}


.footer {
    display: grid;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 48px;
}


.footer-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.footer-social-media {
    display: flex;
    justify-content: center;
    gap: 48px;
}


.footer-social-media img {
    width: 40px;
    height: 40px;
}

.personal-projects {
    display: grid;
    margin-top: 150px;
    margin-bottom: 150px;
}


.section-project-titel {
    display: block;
    padding-bottom: 48px;
    padding-top: 48px;
    height: max-content;
    max-width: 55%;
}


.section-project-titel h4 {
    margin: 8px;
}


.section-project-titel p {
    margin: 8px;
}


.project-big-5-glamping {
    display: flex;
}


.projects-image-large {
    height: auto;
    overflow: hidden;
    border-radius: 12px;
}


.projects-card-large {
    display: contents;
}


.projects-image-large img {
    width: 100%;
    height: auto;
    padding-top: 48px;
    object-fit: cover;
    transition: transform 1s;
}


.projects-image-large :hover {
    transform: scale(1.02);
}


.project-tripshare-section {
    margin-top: 120px;
}


.projects-image-large-poster {
    height: auto;
    overflow: hidden;
}


.projects-image-large-poster img {
    width: 100%;
    height: auto;
    padding-top: 48px;
    object-fit: cover;
    transition: transform 1s;
}


.projects-image-large-poster :hover {
    transform: scale(1.02);
}


.logo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


.logo-gallery img {
    max-width: 300px;
    min-width: 150px;
    margin-bottom: 24px;
    object-fit: cover;
    transition: transform 1s;
}


.logo-gallery img:hover {
    transform: scale(1.0);
}


.hero-services {
    display: grid;
    align-content: center;
    height: 00px;
}


.hero-services p {
    color: #fff;
}


.all-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    margin: 0;
    gap: 16px;
}


.card {
    display: grid;
    gap: 4px;
    padding: 32px;
    max-width: 220px;
    height: auto;
    background: #02011f;
    border-radius: 24px;
}


.card p.large {
    color: #413EFF;
}


.hero-description p {
    width: 100%;
}


.card-text-section {
    display: grid;
    gap: 12px;
    padding-bottom: 24px;
    width: auto;
}


#scroll-to-top-btn {
    position: fixed;
    color: #fff;
    bottom: 24px;
    outline: none;
    border: none;
    right: 24px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    background-color: #413EFF;
}


.tab {
    position: sticky;
    top: 80px;
    width: 100%;
    height: 120px;
    transition-duration: .3s;
    transition-property: max-width, margin;
    z-index: 1;
    margin-bottom: 80px;
    background-color: black;
}


.tab-container {
    display: flex;
    justify-content: center;
    height: 88px;
    gap: 8px;
    border-radius: 40px;
    background-color: rgb(11, 9, 59);
    opacity: 1;
}


.tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgb(11, 9, 59);
}


.tab-item :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #413EFF;
}


#tab-active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #413EFF;
}